.cat-photo {
    width: 400px; 
    height: auto;
 }

 .container {
    display: flex;
    gap: 20px;
 }
 .cat-description {
    font-size: 16px;
    font-weight: 400;
 }

 .cat-temperament {
    font-size: 16px;
    font-weight: 400;
 }

 
.position {
    position: absolute;
    top: 0;
    left: 0;
}

.default {

    position: relative;
}

 .is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }